body {
    background-color: #1e1e1e;
}

.card {
    text-align: center;
    background-color: white;
    max-width: 300px;
    margin: 20px auto 0;
    border-radius: 10px;
    font-family: "Roboto Slab", serif;
}

.card .image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.time-stamp {
    color: #3f5b8a;
    padding-top: 20px;
    font-size: .9em;
}

h1 {
    font-size: 2.1em;
    margin-top: 0;
    font-weight: 900;
}

.main {
    padding-bottom: 20px;
}

.main p {
    color: #8b8b8b;
    width: 80%;
    margin: 0 auto;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8a;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom > div {
    height: 40px;
    padding: 20px;
    gap: 1px;
}

.numbers {
    font-size: 1.4em;
}

.bottomtext {
    font-size: .7em;
}

.numbers1 {
    border-right: #8b8b8b 1px solid;
}

.numbers3 {
    border-left: #8b8b8b 1px solid;
}