body {
    text-align: center;
    background-color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.grid-item2 {
    background-color: white;
    border-radius: 10px;
    grid-row: 1/11;
    grid-column: 4/7;
}
img {
    grid-column: 4/7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1 {
    font-family: "Roboto Slab", serif;
    font-size: 2.5em;
    grid-column: 3/6;
}
h2 {
    font-family: "Roboto Slab", serif;
    color: gray;
    font-size: 1.23em;
    grid-column: 3/6;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-family: "Roboto Slab", serif;
    color: #0000ce;
}
h4 {
    font-size: 1em;
}
.grid-item-footer1 {
    grid-column: 4/5;
    grid-row: 10/11;
}
.grid-item-footer2 {
    grid-column: 5/6;
    grid-row: 10/11;
}
.grid-item-footer3 {
    grid-column: 6/7;
    grid-row: 10/11;
}