body {
    background-color: #25424c;
    padding: 0;
    margin: 0;
    max-width: 1600px;
    color: #fff0c2;
}
header {
    background-color: #6da48f;
}
h1 {
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e56e38;
    text-decoration: underline;
}
h2, h4 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
h4 {
    background-color: #6da48f;
    border: solid #e56e38 2px;
}
nav a {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff0c2;
    background-color: #6da48f;
    margin-left: 135px;
    text-decoration: none;
}
nav a:hover {
    background-color: #25424c;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 10%;
}
.navbar ul{
    list-style-type: none;
    background-color: #6da48f;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #fff0c2;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #25424c;
}
.navbar li{
    float: left;
}
img {
    width: 42px;
    border-radius: 50%;
}
.elfsight-app-deea8c1f-7f82-4329-9dbc-b73765e374f2 {
    margin-left: 40%;
}
.column {
    float: left;
    width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sports_logo {
    object-fit: contain;
    border-radius: 0px;
    height: 100px;
    width: 100px;
}
button {
    background-color: #e56e38;
    color: #fff0c2;
    font-size: 1.5em;
    margin-left: 37.8%;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.weather {
    margin-right: 47.5%;
}
.campaign {
    margin-right: 57%;
}
.campaign_links {
    margin-right: 100%;
}
.mating {
    margin-right: 20%;
}
.campaignbutton {
    background-color: #e56e38;
    color: #fff0c2;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
.campaignbutton:hover {
    background-color: #25424c;
}