body {
    background-color: #25424c;
    padding: 0;
    margin: 0;
    max-width: 1600px;
    color: #fff0c2;
}
header {
    background-color: #6da48f;
    height: 77px;
    width: 10000px;
}
h1 {
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e56e38;
}
h2 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
nav a {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff0c2;
    background-color: #6da48f;
    margin-left: 135px;
    text-decoration: none;
}
nav a:hover {
    background-color: #25424c;
}
.navbar ul{
    list-style-type: none;
    background-color: #6da48f;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #fff0c2;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #25424c;
}
.navbar li{
    float: left;
}
img {
    width: 42px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="file"],
textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 560px;
}
button {
    padding: 10px 15px;
    background-color: #e56e38;
    color: #fff0c2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #e56f38e4;
}
#posts {
    margin-top: 20px;
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.post p {
    margin: 0;
    color: #555;
}